.container_img{
    background-image: url(/public/beach-1838501_1280.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container{
    width: 300px;
    height: 500px;
    border: 2px solid rgb(172, 170, 170);
    border-radius: 10px;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.601);
}
.container__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    display: flex;
    justify-content: center;
}
.container_data{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 300px;
    height: 130px;
    padding-bottom: 0.5em;
}
.container_li{
    padding-top: 0.5em;
    list-style: none;
}
.item{
    display: flex;
    justify-content: space-between;
    gap:1em;
}
.span{
    font-weight: 700;

}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer_title{
    font-weight: 500;
}
.button{
    background-color: rgb(255, 179, 47);
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor:pointer;
}
.button:hover{
    background-color: rgb(255, 213, 47);
    transition: 250ms ease;
    transform: scale(1.1);
}
@media screen and (max-width: 1250px) {
    .container_img{
        background-size:auto;
    }
}

    